* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: sans-serif;
    width: 100%;
    height: auto;
}
main {
    position: relative;
    display: flex;
    width: 100%;
}
/* Header */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid black;
    height: 2.5rem;
    position: fixed;
    z-index: 1000;
    background-color: white;
    width: 100%;
}

.logo {
    padding: 1rem;
}

ul {
    display: flex;
    list-style: none;
    
}
.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    padding: 0.1rem 1rem;
    border-radius: 50px;
    background-color: rgb(247, 243, 235);
    color: black;
    font-size: 1.1rem;
    height: 1.8rem;
    transition: all 0.2s ease-in-out;cursor: pointer;
}
li:hover {
    background-color: black;
    color: white;
}
.search_tables, .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 2rem;
    border-radius: 50px;
    outline: none;
    border: 1px solid black;
}
input {
    width: 85%;
    margin-left: 0.5rem;
    outline: none;
    border: none;
    background-color: transparent;
}

.avatar {
    border-radius: 50px;
    padding: 0;
    background-color: black;
    color: white;
}
.notify, .avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    border-radius: 50px;
}
.notify:hover {
    background-color: rgb(176, 174, 174);
    transition: all 0.2s ease-in-out;cursor: pointer;
}
.color {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: orange;
    border-radius: 50px;
    top: 0;
    right: 0;
}
.hamburger {
    display: none;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    border: none;
}



/** Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    width: 18%;
    background-color: rgb(5, 25, 45);
    color: white;
    height: 100vh;
    position: fixed;
    margin-top: 1rem;
}
.sidebar_items {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}
.sidebar_items .feather {
    margin: 0;
}
.sidebar_items div {
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 14px;
}
.sidebar_items div:hover {
    background-color: rgb(72, 72, 84);
}
.active {
    background-color: rgb(72, 72, 84);
}
.sidebar_items svg {
    padding: 0 0.25rem;
}

small {
    text-align: justify;
    padding: 1rem;
}
/**container*/
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0.5rem;
    background-color:  rgb(247, 243, 235);
    margin-left: 18%;
    margin-top: 3.5rem;
}
hr {
    border-color: rgb(247, 243, 235);
}
/**Hero*/
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/** Welcome*/
.welcome {
    display: flex;
    align-items: flex-start;
    margin: 1.5rem;
}
.welcome img {
    border-radius: 100%;
    padding: 0 1rem;
}

.welcome h2 {
    font-size: 1.5rem;
    font-weight: 500;
}
.welcome p {
    font-weight: 100;
    color: rgb(113, 102, 102);
}
/**Reviews*/
.reviews {
    display: flex;
    align-items: center;
}

.reviews button:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    width: 6rem;
    border-radius: 50px;
    font-weight: 600;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;cursor: pointer;
}
.reviews button:nth-child(1):hover {
    color: white;
    background-color: black;
}
.reviews button:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    width: 150px;
    height: 41px;
    border-radius: 50px;
    font-weight: 600;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    padding: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;cursor: pointer;
    background-color: white;
}
.reviews button:nth-child(2) span {
    padding-right: 0.25rem;
}
.reviews button:nth-child(2):hover {
    color: white;
    background-color: black;
}
.reviews button > svg {
    padding-right: 0.5rem;
}

/**Stats*/
.stats {
    margin: 1rem 0;
}
.stats h2 {
    font-weight: 100;
    margin: 0 1rem;
    padding: 0.3rem 0;
}
.stats_1, .stats_2 {
    display: flex;
    width: 100%;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.stats_1 div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%/3);
    height: 4.5rem;
    background-color: white;
    margin: 1rem;
    border-radius: 10px;
}
.stats_2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 2.5rem;
    background-color: white;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 50px;
}
.feather {
    margin: 0 0.5rem;
    color: blue;
}
.stats span:last-child {
    font-weight: bold;
    padding: 0 0.25rem;
}
.female_gender {
    background-color: pink;
    border-radius: 50px;
    padding: 0.25rem;
    margin: 0.5rem;
}
.male_gender {
    background-color: lightblue;
    border-radius: 50px;
    padding: 0.25rem;
    margin: 0.5rem;
}
/**Sort Btns*/
.sort_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    margin: 0 1rem;
}
.sort_btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 100%;
    margin: 0 0.25rem;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: green;
    color: white;
    transition: all 0.2s ease-in-out;cursor: pointer;
}
.sort_btns button:hover {
    background-color: black;
}
.sort_btns button:focus {
    background-color: black;
}
/**Tables*/
.table_container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem 0;
}
.tables {
    margin: 1rem 0;
    width: 100%;
}
table {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    margin-left: auto;
    border-collapse: collapse;
    border-spacing: 0;
    text-transform: capitalize;
}
thead {
    color: rgb(63, 61, 61);
    border-bottom: 1px solid black;
}
th {
    font-weight: 100;
    width: 5.5rem;
    padding: 0.5rem 0;
    margin: 0 0.5rem;
    text-align: justify;
    cursor: pointer;
}
th:hover {
    background-color: black;
    color: white;
}
th:nth-child(1){
    width: 1rem;
}
th span {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: justify;
    padding: 0 0.5rem;
}
td {
    border-bottom: 1px solid black;
     padding: 0.5rem;
     text-align: justify;   
 }
 
 td:nth-child(1){
     border-left: 1px solid black;
 }
 td:last-child {
     border-right: 1px solid black;
 }
 td:nth-child(6){
    text-transform: lowercase;
 }
 
 tr:nth-of-type(even){
     background-color: lightgray;
 }
.wrapper {
    display: flex;
    width: 100%;
}
.wrapper_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}
.wrapper_items div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin: 0 1rem;
    padding: 0 0.75rem;
    border-radius: 50px;
    background-color: wheat;
}

/**Media Queries*/
@media screen and (max-width: 56.43rem) {
    .items{
        display: none;
    }
    .sidebar {
        width: 10%;
        height: 100%;
    }
    .sidebar_items div:nth-child(1) {
        padding: 0.5rem 0;
        margin: 0 auto;
    }
    .container {
        width: 90%;
        margin-left: 10%;
    }
    .sidebar span {
       display: none;
    }
    .hero {
        flex-direction: column;
        align-items: flex-start;
    }
   .reviews {
    margin: 0 2rem;
   }
   .stats_1, .stats_2{
    flex-direction: column;
   }
   .stats_1 div {
    width: 100%;
    margin: 0.5rem;
   }
   .stats_2 div {
    width: 50%;
   }
   .wrapper {
    flex-direction: column;
   }
   .wrapper_items {
    margin: 1rem 0;
   }
   .tables {
    overflow-x: scroll;
 }
 th span svg {
    display: none;
 }
 th span:nth-child(2){
    padding: 0;
 }
 .sort_btns {
    width: 50%;
    margin: 0.5rem 0;
    justify-content: center;
 }
 .active {
    background: none;
 }
}

@media screen and (max-width: 26.43rem) {
    .search, .notify, .logo{
        display: none;
    }
    .sidebar {
        width: 10%;
        margin-top: 1rem;
    }
    .sidebar div {
        padding: 0.1rem;
    }
    .sidebar_items .feather {
        margin: 0;
    }
    .container {
        width: 85%;
        margin-left: 10%;
    }
    .sidebar svg {
        padding: 0;
    }
    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero {
        flex-direction: column;
    }
    .stats_2 div, .stats_1 div {
        width: 90%;
        height: 2.5rem;
        padding: 0.25rem;
    }
    .wrapper_items {
       display: none;
    }
    .tables {
       overflow-x: scroll;
    }
    small {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    th span {
        padding: 0;
    }
    .sort_btns {
        width: 90%;
    }
    .active {
        background: none;
     }
}
